# Dependências do Node
node_modules/

# Build / cache
dist/
build/
.cache/
.idea/

# Arquivos de ambiente (nunca versionar senhas!)
.env
*.env
db.env

# Arquivos de sistema
.DS_Store
Thumbs.db

assets/css/output.css
