@layer components {

    #div-erro {
        @apply flex items-center justify-center gap-4 text-base lg:text-lg rounded-xl fixed right-8 bottom-[-50%]
        shadow-lg bg-white px-3 lg:px-8 py-2 animate-[show-mobile_5s] lg:animate-[show_5s] text-black z-750;

        & i {
            @apply text-xl lg:text-2xl;
        }
    }

    @keyframes show {
        0% {
            bottom: -50%;
        }
        20% {
            bottom: 2rem;
        }
        80% {
            bottom: 2rem;
        }
        100% {
            bottom: -50%;
        }
    }

    @keyframes show-mobile {
        0% {
            bottom: 80%;
            right: -100%;
        }
        20% {
            bottom: 80%;
            right: 1rem;
        }
        80% {
            bottom: 80%;
            right: 1rem;
        }
        100% {
            bottom: 80%;
            right: -100%;
        }
    }
}