@import "tailwindcss";
@import "./menu.css";
@import "./div_erro.css";
@import "./eventos.css";
@import "./modal.css";

/* variaveis */
@theme {
  --color-verde: #00c46a;
  --color-azul: #2a80ff;
  --color-texto-preto: oklch(21.6% 0.006 56.043);
  --color-texto-opaco: #656565;
  --color-texto-opaco-hover: #2d2d2d;
  --color-borda: #cfcfcf;
}

@layer base {
  * {
    transition: background-color 0.3s ease, color 0.1s ease, opacity 0.3s ease,
      scale 0.2s ease, box-shadow 0.3s ease;
    /*outline: 1px solid red;*/
  }

  body {
    @apply flex h-dvh w-full;

    & main {
      @apply p-5 w-full overflow-y-auto;
    }
  }
}

@layer components {
  .titulo {
    @apply flex flex-col gap-2 text-2xl font-bold mb-5 text-texto-preto;

    & span {
      @apply font-normal text-xl text-texto-opaco;
    }
  }

  .btn-novo {
    @apply rounded-lg p-2 text-white bg-gradient-to-r from-azul to-verde cursor-pointer;

    &:hover {
      @apply opacity-80;
    }
  }

  .subtitulo {
    @apply flex items-center justify-between;

    & h2 {
      @apply flex flex-col text-xl;

      & span {
        @apply text-lg text-texto-opaco;
      }
    }

    & button {
      @apply rounded-lg p-2 text-white bg-gradient-to-r from-azul to-verde cursor-pointer;

      &:hover {
        @apply opacity-80;
      }
    }
  }

  .card {
    @apply border border-borda rounded-lg p-6 text-xl shadow-lg flex flex-col gap-3;
  }
}
